<div class="page-header">
  <h1><%=t '.title', :default => "Problems" %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Test Senario</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>1</td>
        <td>いすこん銀行 - Easy</td>
        <td>ISUCON4 予選問題の簡易版です</td>
        <td><%= link_to 'IsuconBank.scala', 'https://github.com/koduki/sabacon-test/blob/master/simulations/IsuconBank.scala' %></td>   
      </tr>
  </tbody>
</table>